{% extends 'shared/MainLayout.html' %}
{% block content %}
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3" style="margin-top: 50px; margin-bottom: 50px">
            <h5 class="text-danger">لطفا ایمیل خود را جهت بازیابی کلمه عبور وارد نمایید.</h5>
            <form method="POST" class="form-">
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="btn btn-success btn-block">ارسال</button>
            </form>
        </div>
    </div>
{% endblock %}
